.main
  %div
    %div.flex.flex-col.gap-2
          %label.text-gray-600= "Filename"
          %input{type: :text, id: :fileName, name: :file_name}
        %div.flex.flex-row.gap-4.items-center
          %label{class: "inline-flex items-center cursor-pointer"}
            %input{type: :checkbox, name: :public, class: "sr-only peer"}
            %div{class: "relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"}
            %span{class: "ml-3 text-gray-600"}= "Public"

:javascript
  let fileInput = document.querySelector("#fileInput")
  fileInput.addEventListener("change", function(evt) {
    if (this.files.length > 0) {
      document.querySelector("#fileName").value = this.files[0].name
    }
  })
